html{
  font-family: arial;
  font-size: 18px;
}
body {
    background-image: url("");
    background-repeat: repeat;
    background-size: 200vh 100vh;

}
nav{
  position: fixed;
  display: flex;
  width: 100vw;
  top: 0;
  height: 40px;
  font-size: 20px;
  background: rgb(75,0,130);
}
a{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1 em;
  color: white;
}
section{
  height: 100vh;
  text-align: left;
  padding-left: 15px;
}
.about_us{
    position:absolute ;
    top: 450px;
    left:930px ;
}

section>h1{
  padding-top: 60px;
  font-size: 2.2em;
}
#main_landing_image{
  width:50%;
  border-radius: 8px;
  }
.sub_images{
  border-radius: 8px;
  position: absolute;
    bottom: 240px;
    right: 100;
  margin-left: 50px;
  height: 26vh;
  }

.fourth_1{
  position: relative;
    left:500px;
    bottom:100px ;
}
#map_icon{
  position: relative;
  width: 100px;
  top:40px ;
}
ol_1{
  position: relative;
  left: 25px;
  }
#lunch_dish{
  width: 200px;
  position:relative;
  left: 30px;
  top: 10px;
}
ul_1{
  font-size:0.85em;
  position: relative;
  bottom:120px;
  left:250px;
}
#dinner_dish{
  width: 200px;
  position:relative;
  left: 30px;
  top: 10px;
}
ul_2{
  font-size:0.85em;
  position: relative;
  bottom:120px;
  left:250px;
}
